{{page-title "Student"}}
<h2>{{concat this.model.firstName ' ' this.model.lastName}}</h2>
{{!-- <p>Roll No : {{this.model.id}}</p>
<p>First Name : {{this.model.firstName}}</p>
<p>Last Name : {{this.model.lastName}}</p>
<p>DOB : {{this.model.dob}}</p>
<p>Gender : {{this.model.gender}}</p>
<p>Address : {{this.model.address}}</p>
<p>Phone Number : {{this.model.phoneNo}}</p>
<p>Email : {{this.model.email}}</p>
<button type="button" onclick={{action 'editStudent' this.model.id}}>Edit</button>
<button type="button">Delete</button> --}}
{{outlet}}